##############################################################################
#                          End .gitignore default                            #
##############################################################################

#############
## MATLAB
#############
*.asv


#############
## System Code Inputs
#############
*.inp



#
#   Ignore project sandbox
#
Sandbox



##################
## (La)TeX Logs
##################
*.aux
*.bbl
*.blg
*.log
*.toc
*.lof
*.lot
*.tps
*.pdf
!Documentation/*.pdf
